*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: proxima-nova, sans-serif;
}
body{
    background-color: rgb(242, 242, 242);
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 0 1.5rem;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 102, 167);
    
}
.header2{
    padding-right: 1.5rem;
    height: 39px;
}
.inneraccount{
    width: 140px;
    display: block;
    span{
        color: white;
    }
    a{
        text-decoration: none;
        color: rgb(85, 204, 246);
        font-size: 10px;
        
    }
    .login{
        padding-right: 5px;
        border-right: 1px solid rgb(85, 204, 246);
    }
}
.myaccount{
    button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background:transparent;
        border: none;

    }
    width: 120px;
}
.location{
    input{
        color: white;
        background-color: rgb(0, 88, 153);
        border: none;
        margin: 0 1rem;
        height: 39px;
        width: 250px;
        text-align: center;
        outline: none;
    }
}

.radio1{
    padding: 0 0.5rem;
    border-left: 1px solid rgb(85, 204, 246);
    height: 39px;
    display: flex;
    align-items: center;
    span{
        padding-left:0.5rem ;
        color: white;
        font-size: 14px;
    }
}
.radio2{
    padding: 0 0.5rem;
    height: 39px;
    display: flex;
    align-items: center;
    span{
        padding-left:0.5rem ;
        color: rgb(85, 204, 246);
        font-size: 14px;
    }
}
.header1{
    position: relative;


    .menu{
        height: 39px;
        button{
            background: transparent;
            border: none;
            margin: 0 .5rem;
        }
    }
    .logo{
        img{
        margin: 20px;
    }
        
    }
}
.subheader{
    height: 35px;
    background-color: #fff;
    box-shadow: rgb(210, 221, 233) 5px 5px 5px;
    position: fixed;
    width: 100%;
    top: 46px;
    a{
        margin: 0 0.5rem;
        font-weight: 700;
        text-decoration: none;
        font-size: 12px;
        color: grey;
    }
}
/* .subheader a:hover{
    color: rgb(82, 137, 166);
    border-bottom: 0.3em solid rgb(101, 171, 11);
} */
.submenu{
    height: 100vh;
    width: 120%;
    box-shadow: rgba(0, 0, 0, 0.69) 1rem 0px 0.87rem 0px;
    background-color: white;
    position:absolute;
    left: -30px;
    top: 4rem;
    a{
        margin-left: 2.2rem;
        height: 40px;
        display: block;
        text-decoration: none;
        color: black;
        font-size: 18px;
        padding: 0 20px;
        
    }

    display: none;
    animation: slide;
    animation-duration: 1s;
}
.submenu-esc{
    top: 4.1rem;
    right: -6.21rem;
    border-radius: 0rem 2rem 2rem 0rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(95, 136, 163) 0px 0px 1px 0px;;
    position: absolute;
    button{
        cursor: pointer;
        width: 60px;
        padding: .6rem 0;   
    }
    span{
        font-size: 1.3rem;
        margin-right: 6px;      
        color: rgb(95, 136, 163);
    }
    img{
        width: 10px;
    }
    display: none;
    
}
@keyframes slide{
    0%{
        transform: translateX(-310px);
    }
    100%{
        transform: translateX(5px);
    }
}

.overlay{
    z-index: inherit;
    width: 100%;
    opacity: 0.7;
    background: rgba(0, 0, 0, 0.69);
    height: 100%;
    position: fixed;
    top: 48px;
    left: 0;
    display: none;
}

.container{
    margin-left: 50px;
    padding-top: 60px;
}
.grid-container{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}
.line{
    z-index: -1;
    width: 93.5%;
    height:1px;
    background-color: rgb(154, 154, 154);
    margin: 100px  auto 10px auto;
    position: relative;
}
.recommend{
    font-size: 10px;
    position: absolute;
    background-color: #fff;
    padding: 12px;
    top: -25px;
    left: 20px;
    border-radius: 18px;
    
}
img{
    width: 100%;
}
.pizzaside {
    padding: 20px;
}
.row {
    width: 93%;
    padding-top: 20px;
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto;
}
.card {
    border-radius: 7px;
    width: 100%;
    background-color: #fff;
}
.col{
    margin: 0 10px;
    border-radius: 7px;
    box-shadow: 1px 1px 10px #000;
    background-color: white;
}
.card-header{
    img{
        border-radius: 7px 7px 0 0;
        height: 20vh;
    }
    /* position: relative;  */
}

/* .card-header svg{
    top: 4px;
    right: 4px;
    position: absolute;
    z-index: 1;
}  */

/* .filling{
    fill: #ff0000;
}  */

.card-content {
    h4{
        height: 4.3vh;
        font-weight: 700;
        margin: 10px;
    }
    p{
        height: 6vh;
        margin: 10px;
        font-size: 13px;
        color: rgba(122, 122, 122, 0.87);
    }
    
}
.card-action {
    padding: 10px;
    select{
        
        color: rgb(53, 53, 53);
        font-weight: 600;
        border: none;
        outline: none;
        border-bottom: 1.8px solid rgb(207, 207, 207);
        margin: 0 5px 0 10px;
        font-size: 12px;
        font-weight: 600;
    }
    label{
        color: rgba(122, 122, 122, 0.87);
        margin: 0 0 0 12px;
        font-size: 11px;
    }
}
.card-cart{
    margin: 0.8rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    span{
        margin-left: 5px;
        color: rgb(53, 53, 53);
        font-size: 16px;
        font-weight: 700;

    }
    button{
        border-radius: 3px;
        padding: 8px 6px;
        font-weight: 600;
        font-size: 13px;
        background-color: white;
        border: 1px solid rgb(0, 171, 0);
        color: rgb(0, 171, 0);
    }

}
  
.pizzaside > section {
    margin: 40px auto;
}
  
.orderside {
    border-radius: 7px;
    background-color: #fff;
    width: 20rem;
    min-height: 47vh;
    max-height: 60vh;
    top: 19.2vh;
    right:8rem ;
    position: fixed;
    overflow:scroll;
    scroll-behavior: smooth;
    transition: all 1s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
    /* z-index: 9999; */
    .checkout{
        position: absolute;
        background-color: rgb(225, 225, 225);
        width: 20rem;
        padding: 20px 0 30px 0;
        box-shadow: rgba(0, 0, 0, 0.12) 2px 2px 4px 0px, rgba(0, 0, 0, 0.12) 2px -2px 4px 0px;
        /* display: none; */

        .checkoutButton{
            display: flex;
            justify-content: center;
            align-items: center;
            button{
            
                width: 16rem;
                height: 2.5rem;
                border: none;
                outline: none;
                background-color: green;
                color: white;
                font-size: 14px;
                font-weight: 600;
                border-radius: 7px;

            }
        }
    }
}

#bill{
    display: flex;
    justify-content:end;
    align-items: center;
    p{
        letter-spacing: 1px;
        text-shadow: 1px 1px 2px greenyellow;
        font-size: 14px;
        font-weight: 600;
        padding: 0 35px 15px 0;
        color: green;
    }

}
.orderside::-webkit-scrollbar{
    display: none;
}
  
.orderList {
    width: 100%;
    background-color: #fff;
    position: relative;

    .emptyImg{
        margin-left:155px ;
        width: 165px;
        height: 180px;
    }
    .emptyTag1{
        margin-top: 50px;
        text-align: center;
        color: rgb(113, 128, 145);
    }
    .emptyTag2{
        padding-bottom: 70px;
        color: rgb(113, 128, 145);
        text-align: center;
    }
}

.active {
    display: block;
}
.active-a{
    color: rgb(82, 137, 166)!important;
    border-bottom: 0.3em solid rgb(101, 171, 11);
}

.card-item{
    margin: 10px;
    box-shadow: 1px 1px 3px grey;
    padding: 10px 5px 10px 10px ;
    border-radius: 7px;

}
.pizza-detail{
    display: flex;
    justify-content:space-between;
    align-items: center;
    .item-img{
        img{
        height: 68px;
        width: 68px;
        overflow: hidden;
        }

    }
    .item-details{
        margin-left: 10px;
        line-height: 16px;
        h4{
            margin: 10px 5px;
            font-size: 14px;
            font-weight: 600;
        }
        p{
            color:rgba(122, 122, 122, 0.87);
            margin: 8px;
            font-size: 10px;
            overflow: hidden;
        }
    }
}
.size-crust{
    color: rgb(101, 171, 11);
    font-weight: 600;
    margin: 0 0 10px 75px;
    font-size: 12.5px;
}

.item-description{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 10px 5px 5px 0px;   

    .item-quantity{

        button{
            border: none;
            box-shadow: 1px 1px 3px grey;
            margin: 0 3px;
            width: 20px;
            height: 20px;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
        }
        button:hover{
            transform: scale(1.1);
        }
    }
}









@media (max-width:1450px){
    .grid-container{
        grid-template-columns: 1.5fr 1fr;
    }
    .subheader a{
        font-size: 10px;
        margin: 0 0.3rem;
    }
}
@media (max-width:1250px){
    .subheader {
        display: none;
    }
}